{% extends 'base.html'%}

{%block content%}
    {%for mensaje in get_flashed_messages()%}
        <div class="alert alert-success alert-dismissable">
            <button type="button" data-dismiss="alert" class="close">
                 &times;
            </button>
            {{mensaje}}
        </div>
{%endfor%}
{% if current_user.is_authenticated %}
<li>
    <a href="/auth/logout">Cerrar Sesion</a>
</li>
{% else %}
<li>
    <a href="/auth/login">Iniciar Sesion</a>
</li>
{% endif %}

    <h1>Lista de productos</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>nombre</th>
                <th>precio</th>
                <th>imagen</th>
                <th>actualizar</th>
                <th>eliminar</th>
            </tr>
        </thead>
        <tbody>
            {% for producto in productos %}
            <tr>
                <td>{{ producto.nombre }}</td>
                <td>{{ producto.precio }}</td>
                <td>
                    <img src="imagenes/{{producto.imagen}}" alt="" width="100px">
                </td>
                <td>
                    <a href="/productos/editar/{{producto.id}}">
                        Actualizar
                    </a>
                </td>
                <td>
                    <a href="/productos/eliminar/{{producto.id}}">
                        Eliminar
                    </a>
                </td>
            </tr>
            {%endfor%}
        </tbody>
    </table> 
{%endblock%}